Repository vlebourl/cardinal-vote: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-naming, no-secrets, logo-format

Path conditions:
  test-naming: any of: ^tests/.*\.py$, but not: ^tests/(conftest|__init__)\.py$
  no-secrets: any of: \.(py|yaml|yml|json|toml)$
  logo-format: any of: ^logos/.*\.png$

fix: remove legacy SQLite support, enforce PostgreSQL-only generalized platform
  src/cardinal_vote/main.py
Due: no-secrets

fix: complete removal of critical dead code issues
  src/cardinal_vote/main.py
Due: no-secrets

fix: remove legacy SQLite support, enforce PostgreSQL-only generalized platform (#29)
  src/cardinal_vote/main.py
Due: no-secrets

fix: update Docker entrypoint for PostgreSQL-only generalized platform
  Dockerfile
  docker-entrypoint.sh
Due: none

fix: address Claude code review feedback for Docker entrypoint
  docker-entrypoint.sh
Due: none

refactor: remove logos directory and replace with generalized uploads
  Dockerfile
  docker-entrypoint.sh
  src/cardinal_vote/config.py
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
Due: no-secrets

cleanup: remove legacy admin system files
  src/cardinal_vote/admin_auth.py
  src/cardinal_vote/admin_manager.py
  src/cardinal_vote/admin_middleware.py
  src/cardinal_vote/admin_routes.py
  src/cardinal_vote/admin_routes_simple.py
Due: no-secrets

refactor: comprehensive legacy code cleanup and generalization
  .pre-commit-config.yaml
  pytest.ini
  scripts/run.sh
  src/cardinal_vote/__init__.py
  src/cardinal_vote/database.py
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  static/app.js
  static/auth.css
  static/auth_login.js
  static/auth_register.js
  static/dashboard.css
  static/dashboard.js
  templates/admin/base.html
  templates/admin/dashboard.html
  templates/admin/login.html
  templates/admin/logos.html
  templates/admin/votes.html
  templates/auth_login.html
  templates/auth_register.html
  templates/dashboard.html
  templates/index.html
Due: no-secrets

feat: complete frontend-backend architecture consistency and single-command deployment
  .dockerignore
  .env.example
  .gitignore
  .pre-commit-config.yaml
  API.md
  API_DOCUMENTATION.md
  CLAUDE.md
  DEPLOYMENT.md
  DEVELOPMENT.md
  Dockerfile
  PRP-Generalized-Platform.md
  PRP.md
  README.md
  TEST_SUITE_SUMMARY.md
  deploy-server.sh
  docker-compose.prod.yml
  docker-compose.standalone.yml
  docker-compose.yml
  docker-entrypoint.sh
  docs/prps/generalized-voting-platform.md
  scripts/deploy.sh
  scripts/manage.sh
  src/cardinal_vote/config.py
  src/cardinal_vote/main.py
  static/app.js
  static/js/admin.js
  static/public_vote.js
  static/style.css
  templates/index.html
  templates/landing.html
  templates/public_vote.html
  templates/results.html
  templates/super_admin/base.html
  templates/super_admin/dashboard.html
  test_vote_details_fix.py
  tests/test_super_admin_integration.py
  tests/test_vote_moderation_integration.py
Due: test-naming, no-secrets

fix: address comprehensive code review feedback for PR #30
  Dockerfile
  docker-entrypoint.sh
  src/cardinal_vote/config.py
  tests/test_super_admin_integration.py
  tests/test_vote_moderation_integration.py
Due: test-naming, no-secrets

fix: address latest claude-review feedback - health check consistency and migration reliability
  docker-entrypoint.sh
Due: none

feat: add non-blocking improvements from review - database connectivity test and startup metrics
  docker-entrypoint.sh
Due: none

docs: add comprehensive SQLite cleanup task plan
  docs/tasks/cleanup_tasks.md
Due: none

feat: comprehensive SQLite cleanup - complete PostgreSQL migration
  .gitignore
  CLAUDE.md
  DEPLOYMENT-TAR.md
  DEPLOYMENT.md
  DEVELOPMENT.md
  deploy-from-tar.sh
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.standalone.yml
  scripts/deploy.sh
  scripts/manage.sh
  src/cardinal_vote/database.py
  test.env
Due: no-secrets

fix: import DatabaseError from models instead of deprecated database module
  src/cardinal_vote/main.py
Due: no-secrets

fix: address comprehensive code review feedback for PR #31
  .env.production.example
  deploy-from-tar.sh
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.standalone.yml
  docker-entrypoint.sh
  docs/DATABASE-MIGRATION.md
  docs/SECURITY-AUDIT.md
  docs/VOLUME-MIGRATION.md
  tests/test_integration_postgresql.py
Due: test-naming, no-secrets

fix: address critical security and operational issues identified in code review
  .env.production.example
  .github/workflows/docker-compose-test.yml
  deploy-from-tar.sh
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-entrypoint.sh
  docs/SECURITY-AUDIT.md
  tests/test_super_admin_integration.py
Due: test-naming, no-secrets

fix: update Docker Compose commands in GitHub Actions workflow
  .github/workflows/docker-compose-test.yml
Due: no-secrets

fix: resolve Docker Compose workflow issues and remove obsolete version attributes
  .github/workflows/docker-compose-test.yml
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.standalone.yml
  docker-compose.test.yml
Due: no-secrets

fix: add PostgreSQL authentication for Docker Compose test workflow
  .github/workflows/docker-compose-test.yml
Due: no-secrets

feat: comprehensive SQLite cleanup - complete PostgreSQL migration (#31)
  .env.production.example
  .github/workflows/docker-compose-test.yml
  .gitignore
  CLAUDE.md
  DEPLOYMENT-TAR.md
  DEPLOYMENT.md
  DEVELOPMENT.md
  deploy-from-tar.sh
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.standalone.yml
  docker-compose.test.yml
  docker-entrypoint.sh
  docs/DATABASE-MIGRATION.md
  docs/SECURITY-AUDIT.md
  docs/VOLUME-MIGRATION.md
  docs/tasks/cleanup_tasks.md
  scripts/deploy.sh
  scripts/manage.sh
  src/cardinal_vote/database.py
  src/cardinal_vote/main.py
  test.env
  tests/test_integration_postgresql.py
  tests/test_super_admin_integration.py
Due: test-naming, no-secrets

feat: implement Phase 3 Week 9-10 image upload and security hardening
  .pre-commit-config.yaml
  pyproject.toml
  src/cardinal_vote/captcha_service.py
  src/cardinal_vote/config.py
  src/cardinal_vote/image_service.py
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/rate_limiting.py
  src/cardinal_vote/vote_routes.py
  static/public_vote.css
  static/public_vote.js
  templates/public_vote.html
  tests/test_captcha_service.py
  tests/test_captcha_vote_integration.py
  tests/test_image_service.py
  tests/test_image_upload_integration.py
  tests/test_rate_limiting.py
  uv.lock
Due: test-naming, no-secrets

refactor: enhance Phase 3 implementation with comprehensive improvements
  src/cardinal_vote/rate_limiting.py
  tests/test_captcha_service.py
  tests/test_image_service.py
  tests/test_rate_limiting.py
Due: test-naming, no-secrets

feat: implement Phase 3 Week 9-10 image upload and security hardening (#32)
  .pre-commit-config.yaml
  pyproject.toml
  src/cardinal_vote/captcha_service.py
  src/cardinal_vote/config.py
  src/cardinal_vote/image_service.py
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/rate_limiting.py
  src/cardinal_vote/vote_routes.py
  static/public_vote.css
  static/public_vote.js
  templates/public_vote.html
  tests/test_captcha_service.py
  tests/test_captcha_vote_integration.py
  tests/test_image_service.py
  tests/test_image_upload_integration.py
  tests/test_rate_limiting.py
  uv.lock
Due: test-naming, no-secrets

feat: comprehensive Docker deployment fixes and modern UI/UX overhaul
  Dockerfile
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.standalone.yml
  docker-compose.yml
  docker-entrypoint.sh
  static/landing.js
  static/style.css
  templates/landing.html
Due: no-secrets

fix: update CI pipeline to reflect Docker Compose simplification
  .github/workflows/docker-compose-test.yml
Due: no-secrets

feat: implement comprehensive security, performance, and testing improvements
  .github/workflows/ci.yml
  package.json
  src/cardinal_vote/main.py
  templates/landing.html
  tests/auth-modals.test.js
  tests/setup.js
Due: no-secrets

fix: resolve JavaScript linting and testing issues
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/cardinal_vote/main.py
  static/js/admin.js
  static/js/super-admin.js
  templates/landing.html
  tests/auth-modals.test.js
  tests/setup.js
Due: no-secrets

fix ruff linting.
  src/cardinal_vote/main.py
Due: no-secrets

fix: resolve Prettier and ESLint formatting conflicts
  static/js/admin.js
  static/landing.js
  static/public_vote.js
  static/style.css
Due: none

fix: final Prettier formatting consistency
  static/js/admin.js
  static/js/super-admin.js
Due: none

fix: resolve all ESLint JavaScript linting errors
  static/js/admin.js
  static/js/super-admin.js
Due: none

fix: resolve Puppeteer sandbox issues in CI accessibility tests
  .github/workflows/ci.yml
Due: no-secrets

fix: resolve all code quality issues for CI pipeline success
  .eslintrc.json
  package-lock.json
  package.json
  static/js/admin.js
  static/js/super-admin.js
Due: no-secrets

fix: resolve Jest unit test failures in CI pipeline
  tests/setup.js
Due: none

feat: comprehensive security hardening for production deployment
  SECURITY.md
  docker-compose.yml
  scripts/validate-env.py
Due: no-secrets

fix: add required environment variables to Docker Build Test CI job
  .github/workflows/ci.yml
Due: no-secrets

fix: address security-critical configuration issues
  docker-compose.override.yml.example
  docker-compose.yml
Due: no-secrets

fix: update CI pipelines to handle new required environment variables
  .github/workflows/ci.yml
  .github/workflows/docker-compose-test.yml
Due: no-secrets
