Repository vlebourl/cardinal-vote: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format-check, mypy-check, eslint, prettier-check, jest, test-naming, no-secrets

ruff-check:
  name: Run Python linting (ruff)
  entry: uv run ruff check src/
  language: system
  pass_filenames: false

ruff-format-check:
  name: Run Python formatting check (ruff format)
  entry: uv run ruff format --check src/
  language: system
  pass_filenames: false

mypy-check:
  name: Run type checking (mypy)
  entry: uv run mypy src/
  language: system
  pass_filenames: false

eslint:
  name: Run JavaScript linting (ESLint)
  entry: npm run lint
  language: system
  pass_filenames: false
  require_serial: false

prettier-check:
  name: Run JavaScript formatting check (Prettier)
  entry: npm run format:check
  language: system
  pass_filenames: false
  require_serial: false

jest:
  name: Run JavaScript unit tests (Jest)
  entry: npm test -- --coverage --verbose
  language: system
  pass_filenames: false
  require_serial: true

test-naming:
  name: Check test file naming
  entry: bash -c 'for file in tests/*.py; do [[ "$file" == "tests/__init__.py" ]] && continue; [[ "$file" == "tests/conftest.py" ]] && continue; [[ "$file" =~ ^tests/test_.*\.py$ ]] || { echo "Test file $file should start with test_"; exit 1; }; done'
  language: system

no-secrets:
  name: Check for potential secrets
  entry: bash -c 'if grep -r -i -E "(password|secret|key|token)\s*=\s*[\"'\'''][^\"'\'''\$]+[\"'\'']" src/ tests/ --exclude-dir=.git; then echo "Potential hardcoded secrets found!"; exit 1; fi'
  language: system

feat: complete Phase 3 error scenarios and CI/CD infrastructure
  .github/workflows/playwright-tests.yml
  scripts/generate-test-summary.js
  tests/playwright/tests/03-error-scenarios/network-errors.spec.js
  tests/playwright/tests/03-error-scenarios/validation-errors.spec.js
  tests/playwright/utils/testHelpers.js
Due: eslint, prettier-check, jest, no-secrets

fix: resolve Playwright configuration and validation issues
  package-lock.json
  package.json
  tests/playwright/fixtures/data/test-data-factory.js
  tests/playwright/fixtures/validationFixtures.js
  tests/playwright/pages/AdminPage.js
  tests/playwright/pages/DashboardPage.js
  tests/playwright/pages/ErrorPage.js
  tests/playwright/pages/LandingPage.js
  tests/playwright/pages/PublicVotingPage.js
  tests/playwright/pages/VoteCreationPage.js
  tests/playwright/reports/html/.gitkeep
  tests/playwright/reports/html/index.html
  tests/playwright/reports/junit.xml
  tests/playwright/reports/results.json
  tests/playwright/tests/03-error-scenarios/validation-errors.spec.js
Due: eslint, prettier-check, jest, no-secrets

docs: add comprehensive Playwright E2E testing implementation summary
  PLAYWRIGHT_E2E_IMPLEMENTATION.md
Due: none

test: add comprehensive authentication flow verification
  tests/playwright/.auth/debug-info.json
  tests/playwright/.auth/environment-validation.json
  tests/playwright/.auth/global-state.json
  tests/playwright/.auth/session.json
  tests/playwright/.auth/setup-info.json
  tests/playwright/.auth/teardown-info.json
  tests/playwright/.auth/user.json
  tests/playwright/basic-auth-test.spec.js
  tests/playwright/config/global-setup.js
  tests/playwright/reports/test-summary.json
  tests/playwright/test-results/.last-run.json
  verify-auth-flows.js
Due: eslint, prettier-check, jest, no-secrets

fix: resolve password reset JavaScript error and backend configuration
  src/cardinal_vote/config.py
  static/js/landing-material.js
Due: ruff-check, ruff-format-check, mypy-check, eslint, prettier-check, jest, no-secrets

chore: update version watermark to v2.4.1 after password reset fix
  templates/landing_material.html
Due: none

feat: make PUBLIC_URL environment variable mandatory with validation
  docker-compose.yml
  src/cardinal_vote/config.py
  src/cardinal_vote/email_service.py
Due: ruff-check, ruff-format-check, mypy-check, no-secrets

chore: update version watermark to v2.4.2 after mandatory PUBLIC_URL
  templates/landing_material.html
Due: none

fix: add super admin account creation to application startup
  src/cardinal_vote/main.py
Due: ruff-check, ruff-format-check, mypy-check, no-secrets

fix: improve super admin creation with proper error handling and logging
  src/cardinal_vote/main.py
Due: ruff-check, ruff-format-check, mypy-check, no-secrets

chore: update version watermark to v2.4.3 after super admin fix
  templates/landing_material.html
Due: none

fix: resolve CI/CD PUBLIC_URL runtime configuration issues
  .github/workflows/ci.yml
  .github/workflows/docker-compose-test.yml
Due: no-secrets

fix: resolve dashboard navigation drawer and database schema issues
  pyproject.toml
  static/css/material-design.css
  static/js/dashboard.js
  uv.lock
Due: eslint, prettier-check, jest, no-secrets

feat: update version watermark to v2.4.4 with cache busting
  templates/landing_material.html
  templates/user_dashboard.html
Due: none

feat: add version watermark v2.4.4 to all HTML templates
  templates/public_vote.html
  templates/super_admin/base.html
  templates/vote_preview.html
Due: none

docs: create comprehensive dashboard specification and clean repository
  .playwright-mcp/image.png
  CLAUDE.md
  docs/DASHBOARD_SPECIFICATION.md
  static/css/material-design.css
  static/js/dashboard.js
  templates/landing_material.html
  templates/public_vote.html
  templates/super_admin/base.html
  templates/user_dashboard.html
  templates/vote_preview.html
  tests/playwright/reports/html/index.html
  tests/playwright/reports/json/.gitkeep
  tests/playwright/reports/junit.xml
  tests/playwright/reports/junit/.gitkeep
  tests/playwright/reports/results.json
  tests/playwright/reports/test-summary.json
  tests/playwright/screenshots/.gitkeep
  tests/playwright/test-results/.last-run.json
Due: eslint, prettier-check, jest, no-secrets

fix: resolve CI/CD pipeline failures
  static/js/touch-interaction-manager.js
  tests/playwright/reports/json/.gitkeep
  tests/playwright/reports/junit/.gitkeep
  tests/playwright/screenshots/.gitkeep
Due: eslint, prettier-check, jest

fix: add missing audit-ci configuration file
  .github/audit-ci.json
Due: no-secrets

fix: resolve pipeline failures for audit-ci, Docker registry, and PUBLIC_URL
  .github/workflows/ci.yml
  .github/workflows/playwright-tests.yml
Due: no-secrets

fix: update Playwright tests to use correct Docker environment and fix merge reports
  .github/workflows/playwright-tests.yml
Due: no-secrets

fix: correct Docker build stage in Playwright environment configuration
  docker-compose.playwright.yml
Due: no-secrets

fix: correct Playwright project names in workflow
  .github/workflows/playwright-tests.yml
Due: no-secrets

fix: remove duplicate service names in Playwright docker compose command
  .github/workflows/playwright-tests.yml
Due: no-secrets

remove: Playwright E2E Tests workflow
  .github/workflows/playwright-tests.yml
Due: no-secrets

feat: implement comprehensive dashboard system with Material Design 3
  .gitignore
  alembic/versions/add_image_upload_support.py
  alembic/versions/add_user_activity_tracking.py
  alembic/versions/add_vote_draft_support.py
  scripts/setup_image_storage.py
  src/cardinal_vote/choice_management_routes.py
  src/cardinal_vote/choice_service.py
  src/cardinal_vote/config.py
  src/cardinal_vote/dashboard_routes.py
  src/cardinal_vote/dashboard_service.py
  src/cardinal_vote/draft_service.py
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/vote_management_routes.py
  static/icons/b446e3d1-72a0-440b-a397-829d47ff3218.png
  static/js/dashboard.js
  templates/super_admin/dashboard.html
Due: ruff-check, ruff-format-check, mypy-check, eslint, prettier-check, jest, no-secrets

fix: resolve all code quality issues for CI pipeline
  src/cardinal_vote/choice_management_routes.py
  src/cardinal_vote/choice_service.py
  src/cardinal_vote/config.py
  src/cardinal_vote/dashboard_routes.py
  src/cardinal_vote/dashboard_service.py
  src/cardinal_vote/draft_service.py
  src/cardinal_vote/main.py
  src/cardinal_vote/vote_management_routes.py
Due: ruff-check, ruff-format-check, mypy-check, no-secrets

fix: resolve JavaScript linting errors and Jest configuration
  package.json
  static/js/dashboard.js
  tests/setup.js
Due: eslint, prettier-check, jest, no-secrets

Path conditions:
  ruff-check: any of: ^src/.*\.py$
  ruff-format-check: any of: ^src/.*\.py$
  mypy-check: any of: ^src/.*\.py$
  eslint: any of: \.(js|jsx)$
  prettier-check: any of: \.(js|jsx|css)$
  jest: any of: \.(js|jsx)$
  test-naming: any of: ^tests/.*\.py$, but not: ^tests/(conftest|__init__)\.py$
  no-secrets: any of: \.(py|yaml|yml|json|toml)$
