Repository vlebourl/cardinal-vote: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-naming, no-secrets, logo-format

Path conditions:
  test-naming: any of: ^tests/.*\.py$, but not: ^tests/(conftest|__init__)\.py$
  no-secrets: any of: \.(py|yaml|yml|json|toml)$
  logo-format: any of: ^logos/.*\.png$

fix: address remaining high-priority security concerns from code review
  docker-compose.yml
Due: no-secrets

fix: properly document and configure database port security
  README.md
  docker-compose.override.yml.example
  docker-compose.yml
Due: no-secrets

feat: comprehensive Docker deployment fixes and modern UI/UX overhaul (#33)
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/docker-compose-test.yml
  Dockerfile
  README.md
  SECURITY.md
  docker-compose.override.yml.example
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.standalone.yml
  docker-compose.yml
  docker-entrypoint.sh
  package-lock.json
  package.json
  scripts/validate-env.py
  src/cardinal_vote/main.py
  static/js/admin.js
  static/js/super-admin.js
  static/landing.js
  static/public_vote.js
  static/style.css
  templates/landing.html
  tests/auth-modals.test.js
  tests/setup.js
Due: no-secrets

feat: implement high-priority security and stability improvements
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/env_validator.py
  src/cardinal_vote/input_sanitizer.py
  src/cardinal_vote/main.py
  static/js/event-handlers.js
  templates/landing.html
  templates/public_vote.html
  templates/super_admin/base.html
  templates/super_admin/dashboard.html
  templates/super_admin/moderation.html
Due: no-secrets

fix: resolve Python linting issues in security modules
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/env_validator.py
  src/cardinal_vote/input_sanitizer.py
  src/cardinal_vote/main.py
Due: no-secrets

fix: apply ruff formatting to security modules
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/env_validator.py
  src/cardinal_vote/input_sanitizer.py
Due: no-secrets

fix: resolve mypy type checking errors in security modules
  src/cardinal_vote/env_validator.py
  src/cardinal_vote/input_sanitizer.py
Due: no-secrets

fix: resolve ESLint errors in event-handlers.js
  static/js/event-handlers.js
Due: none

fix: address code review feedback for security improvements
  src/cardinal_vote/input_sanitizer.py
Due: no-secrets

update claude.md
  CLAUDE.md
  docs/context/SOLID.md
Due: none

fix: apply ruff formatting to input_sanitizer.py
  src/cardinal_vote/input_sanitizer.py
Due: no-secrets

feat: address code review feedback for security improvements
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/input_sanitizer.py
  src/cardinal_vote/main.py
  src/cardinal_vote/vote_routes.py
  static/public_vote.css
  static/style.css
  templates/landing.html
  templates/public_vote.html
  tests/test_env_validator.py
  tests/test_input_sanitizer.py
Due: test-naming, no-secrets

feat: High-priority security and stability improvements (#34)
  CLAUDE.md
  docs/context/SOLID.md
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/env_validator.py
  src/cardinal_vote/input_sanitizer.py
  src/cardinal_vote/main.py
  src/cardinal_vote/vote_routes.py
  static/js/event-handlers.js
  static/public_vote.css
  static/style.css
  templates/landing.html
  templates/public_vote.html
  templates/super_admin/base.html
  templates/super_admin/dashboard.html
  templates/super_admin/moderation.html
  tests/test_env_validator.py
  tests/test_input_sanitizer.py
Due: test-naming, no-secrets

feat: High-priority security and stability improvements (#34)
  CLAUDE.md
  docs/context/SOLID.md
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/env_validator.py
  src/cardinal_vote/input_sanitizer.py
  src/cardinal_vote/main.py
  src/cardinal_vote/vote_routes.py
  static/js/admin-auth.js
  static/js/admin.js
  static/js/event-handlers.js
  static/js/html-sanitizer.js
  static/js/moderation.js
  static/public_vote.css
  static/style.css
  templates/landing.html
  templates/public_vote.html
  templates/super_admin/base.html
  templates/super_admin/dashboard.html
  templates/super_admin/moderation.html
  tests/test_env_validator.py
  tests/test_input_sanitizer.py
Due: test-naming, no-secrets

fix: address critical security issues from code review
  src/cardinal_vote/input_sanitizer.py
  static/js/admin-auth.js
  static/js/admin.js
  static/js/html-sanitizer.js
  templates/super_admin/base.html
  tests/test_input_sanitizer.py
Due: test-naming, no-secrets

fix: resolve pipeline failures and enhance pre-commit hooks
  .pre-commit-config.yaml
  static/js/admin-auth.js
  static/js/html-sanitizer.js
Due: no-secrets

fix: address critical security vulnerabilities from code review
  .pre-commit-config.yaml
  static/js/admin-auth.js
  static/js/admin.js
  static/js/html-sanitizer.js
  tests/test-js/admin-auth.test.js
  tests/test-js/html-sanitizer.test.js
Due: no-secrets

fix: align pre-commit hooks exactly with CI pipeline checks
  .pre-commit-config.yaml
Due: no-secrets

fix: resolve Jest test failures in admin-auth test suite
  tests/test-js/admin-auth.test.js
Due: none

Critical Security Fixes: Address High-Priority Code Review Issues (#36)
  .pre-commit-config.yaml
  src/cardinal_vote/input_sanitizer.py
  static/js/admin-auth.js
  static/js/admin.js
  static/js/html-sanitizer.js
  templates/super_admin/base.html
  tests/test-js/admin-auth.test.js
  tests/test-js/html-sanitizer.test.js
  tests/test_input_sanitizer.py
Due: test-naming, no-secrets

docs: add comprehensive PRP and brainstorming documents for legacy cleanup
  docs/brainstorming/2025-09-13-remove-legacy-compatibility.md
  docs/prps/remove-legacy-compatibility.md
  docs/tasks/remove-legacy-compatibility.md
Due: none

feat: remove legacy environment variables from configuration
  docker-compose.test.yml
  docker-compose.yml
  src/cardinal_vote/config.py
  src/cardinal_vote/env_validator.py
  test.env
Due: no-secrets

feat: remove legacy AdminSession model and create migration
  alembic/versions/5d84f7a200dd_remove_legacy_admin_sessions_table.py
  src/cardinal_vote/models.py
Due: no-secrets

refactor: remove unnecessary migration file for development phase
  alembic/versions/5d84f7a200dd_remove_legacy_admin_sessions_table.py
Due: no-secrets

feat: clean legacy variables from GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/docker-compose-test.yml
  .github/workflows/release.yml
Due: no-secrets

feat: remove legacy references from documentation and scripts
  .env.production.example
  SECURITY.md
  scripts/validate-env.py
Due: no-secrets

feat: remove legacy references from test files
  tests/test_env_validator.py
Due: test-naming, no-secrets

feat: comprehensive database legacy cleanup - remove unused migration elements
  alembic/versions/b9061c1f6adb_initial_generalized_platform_schema.py
  src/cardinal_vote/database.py
  src/cardinal_vote/models.py
Due: no-secrets

feat: remove all database migration infrastructure for development approach
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/3f871632aa93_add_user_id_to_voter_responses.py
  alembic/versions/8d1480278da2_add_row_level_security_policies.py
  alembic/versions/b9061c1f6adb_initial_generalized_platform_schema.py
  alembic/versions/bff158c3e8a6_add_content_moderation_tables.py
  alembic/versions/c97e220ce164_add_moderation_query_optimization_.py
  docker-entrypoint.sh
  pyproject.toml
Due: no-secrets

feat: cleanup CI/CD pipelines and remove migration dependencies
  .github/workflows/ci.yml
  .github/workflows/docker-compose-test.yml
  uv.lock
Due: no-secrets

fix: resolve CI/CD pipeline failures after alembic removal
  .github/workflows/ci.yml
  CHANGES.md
  Dockerfile
  docker-entrypoint.sh
Due: no-secrets

fix: enable required PostgreSQL extensions before schema creation
  src/cardinal_vote/database_manager.py
Due: no-secrets

fix: remove whitespace from blank line in database_manager.py
  src/cardinal_vote/database_manager.py
Due: no-secrets

fix: apply ruff formatting to database_manager.py
  src/cardinal_vote/database_manager.py
Due: no-secrets

fix docker build and run requirements.
  docker-compose.yml
  docker-entrypoint.sh
Due: no-secrets

feat: remove legacy environment variables from configuration (#37)
  .env.production.example
  .github/workflows/ci.yml
  .github/workflows/docker-compose-test.yml
  .github/workflows/release.yml
  CHANGES.md
  Dockerfile
  SECURITY.md
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/3f871632aa93_add_user_id_to_voter_responses.py
  alembic/versions/8d1480278da2_add_row_level_security_policies.py
  alembic/versions/b9061c1f6adb_initial_generalized_platform_schema.py
  alembic/versions/bff158c3e8a6_add_content_moderation_tables.py
  alembic/versions/c97e220ce164_add_moderation_query_optimization_.py
  docker-compose.test.yml
  docker-compose.yml
  docker-entrypoint.sh
  docs/brainstorming/2025-09-13-remove-legacy-compatibility.md
  docs/prps/remove-legacy-compatibility.md
  docs/tasks/remove-legacy-compatibility.md
  pyproject.toml
  scripts/validate-env.py
  src/cardinal_vote/config.py
  src/cardinal_vote/database.py
  src/cardinal_vote/database_manager.py
  src/cardinal_vote/env_validator.py
  src/cardinal_vote/models.py
  test.env
  tests/test_env_validator.py
  uv.lock
Due: test-naming, no-secrets

remove claude from CI pipeline as it takes too much credit.
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: no-secrets

feat: implement comprehensive Material Design 3 UI/UX transformation
  .playwright-mcp/current-homepage.png
  .playwright-mcp/material-design-final.png
  .playwright-mcp/material-design-landing.png
  .playwright-mcp/material-design-mobile.png
  src/cardinal_vote/main.py
  static/css/landing-material.css
  static/css/material-design.css
  static/js/landing-material.js
  templates/landing_material.html
Due: no-secrets

fix: add CSP-compliant debug version header to Material Design template
  static/css/landing-material.css
  templates/landing_material.html
Due: none

feat: implement comprehensive Material Design 3 UI/UX transformation (#38)
  .playwright-mcp/current-homepage.png
  .playwright-mcp/material-design-final.png
  .playwright-mcp/material-design-landing.png
  .playwright-mcp/material-design-mobile.png
  src/cardinal_vote/main.py
  static/css/landing-material.css
  static/css/material-design.css
  static/js/landing-material.js
  templates/landing_material.html
Due: no-secrets
