Repository vlebourl/cardinal-vote: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format-check, mypy-check, eslint, prettier-check, jest, test-naming, no-secrets

Path conditions:
  ruff-check: any of: ^src/.*\.py$
  ruff-format-check: any of: ^src/.*\.py$
  mypy-check: any of: ^src/.*\.py$
  eslint: any of: \.(js|jsx)$
  prettier-check: any of: \.(js|jsx|css)$
  jest: any of: \.(js|jsx)$
  test-naming: any of: ^tests/.*\.py$, but not: ^tests/(conftest|__init__)\.py$
  no-secrets: any of: \.(py|yaml|yml|json|toml)$

fix: clean up Material Design landing page
  static/css/landing-material.css
  templates/landing_material.html
Due: prettier-check

reflexion doxuments
  .playwright-mcp/cleaned-website-final.png
  .playwright-mcp/current-material-design.png
  .playwright-mcp/final-material-design-complete.png
  docs/ARCHITECTURE.md
  docs/brainstorming/2025-01-13-web-interface-architecture-validation.md
  docs/prps/sprint-1-foundation-recovery.md
  docs/tasks/sprint-1-foundation-recovery.md
Due: none

feat: implement Sprint 1 user authentication foundation with Material Design 3
  docs/prps/sprint-2-user-journey-restoration.md
  docs/tasks/sprint-2-user-journey-restoration.md
  package-lock.json
  package.json
  src/cardinal_vote/main.py
  static/css/dashboard.css
  static/css/landing-material.css
  static/js/dashboard.js
  static/js/landing-material.js
  templates/landing_material.html
  templates/user_dashboard.html
Due: ruff-check, ruff-format-check, mypy-check, eslint, prettier-check, jest, no-secrets

feat: implement Sprint 2 user journey restoration with complete voting functionality
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/vote_routes.py
  static/css/dashboard.css
  static/css/vote-creation.css
  static/css/vote-preview.css
  static/js/dashboard.js
  static/js/vote-creation-manager.js
  static/js/vote-preview.js
  templates/user_dashboard.html
  templates/vote_preview.html
  tests/test_env_validator.py
Due: ruff-check, ruff-format-check, mypy-check, eslint, prettier-check, jest, test-naming, no-secrets

test: remove deprecated tests and add comprehensive Sprint 2 feature tests
  tests/test_auth_integration.py
  tests/test_captcha_vote_integration.py
  tests/test_image_upload_integration.py
  tests/test_integration_postgresql.py
  tests/test_sprint2_dashboard_integration.py
  tests/test_sprint2_vote_creation_integration.py
  tests/test_sprint2_vote_preview_integration.py
Due: test-naming, no-secrets

test: implement comprehensive Sprint 1 & 2 validation with Playwright UI testing
  docs/prps/comprehensive-sprint-validation-test-plan.md
  docs/validation-reports/comprehensive-sprint-1-2-validation-results.md
  docs/validation-reports/sprint1-authentication-validation-results.md
  package-lock.json
  package.json
  playwright.config.js
  tests/playwright/.auth/sprint1-results.json
  tests/playwright/.auth/sprint2-results.json
  tests/playwright/auth.setup.js
  tests/playwright/fixtures/test-data.js
  tests/playwright/pages/dashboard-page.js
  tests/playwright/pages/landing-page.js
  tests/playwright/sprint1-authentication-adapted.spec.js
  tests/playwright/sprint1-authentication.spec.js
  tests/playwright/sprint2-vote-creation.spec.js
Due: eslint, prettier-check, jest, no-secrets

feat: implement Sprint 3 Core Functionality - Vote Management & Analytics
  docs/prps/sprint-3-core-functionality.md
  docs/tasks/sprint-3-core-functionality.md
  playwright-report/index.html
  static/js/dashboard.js
  static/js/vote-management-manager.js
  templates/user_dashboard.html
  test-results/.last-run.json
  test-results/auth.setup.js-authenticate-user-setup/error-context.md
  test-results/auth.setup.js-authenticate-user-setup/test-failed-1.png
  test-results/auth.setup.js-authenticate-user-setup/video.webm
  tests/playwright/sprint3-vote-management.spec.js
  tests/test_auth_integration.py
  tests/test_sprint2_dashboard_integration.py
  tests/test_sprint2_vote_creation_integration.py
  tests/test_sprint2_vote_preview_integration.py
Due: eslint, prettier-check, jest, test-naming, no-secrets

feat: complete Sprint 4 Phase 1 - User Profile Management & Account Deletion
  .playwright-mcp/dashboard-profile-test.png
  .playwright-mcp/profile-modal-success.png
  docs/prps/sprint-4-user-experience.md
  docs/tasks/sprint-4-user-experience.md
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/models.py
  static/css/dashboard.css
  static/js/dashboard.js
  static/js/profile-manager.js
  templates/user_dashboard.html
Due: ruff-check, ruff-format-check, mypy-check, eslint, prettier-check, jest, no-secrets

feat: implement Phase 3.1 Enhanced Image Upload Interface with Playwright validation
  .env.example
  pyproject.toml
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/main.py
  static/css/dashboard.css
  static/css/landing-material.css
  static/css/vote-creation.css
  static/js/landing-material.js
  static/js/profile-manager.js
  static/js/vote-creation-manager.js
  templates/landing.html
  templates/landing_material.html
  templates/user_dashboard.html
  test-results/.last-run.json
  test-results/auth.setup.js-authenticate-user-setup/error-context.md
  test-results/auth.setup.js-authenticate-user-setup/test-failed-1.png
  test-results/auth.setup.js-authenticate-user-setup/video.webm
  test_email_verification_ui.html
  tests/test_enhanced_image_upload_playwright.py
  tests/test_playwright_captcha_integration.py
  tests/test_playwright_email_verification_ui.py
  uv.lock
Due: ruff-check, ruff-format-check, mypy-check, eslint, prettier-check, jest, test-naming, no-secrets

feat: complete generalized platform transformation - Phase 4 Mobile & Polish
  static/css/material-design.css
  static/css/mobile-responsive.css
  static/css/touch-enhancements.css
  static/js/touch-interaction-manager.js
  templates/landing_material.html
  templates/user_dashboard.html
  templates/vote_preview.html
  tests/test_auth_integration.py
  tests/test_enhanced_image_upload_playwright.py
  tests/test_playwright_captcha_integration.py
  tests/test_playwright_email_verification_ui.py
  tests/test_playwright_mobile_responsive.py
  tests/test_playwright_touch_interactions.py
  tests/test_playwright_vote_sharing.py
  tests/test_sprint2_dashboard_integration.py
  tests/test_sprint2_vote_creation_integration.py
  tests/test_sprint2_vote_preview_integration.py
Due: eslint, prettier-check, jest, test-naming, no-secrets

chore: initialize UI bug fixes branch with planning document
  UI_FIXES_PLAN.md
Due: none

fix: resolve UI issues with welcome popup and form field labels
  UI_FIXES_PLAN.md
  static/css/material-design.css
  static/js/landing-material.js
Due: eslint, prettier-check, jest

fix: completely hide snackbar on page load
  static/js/landing-material.js
  templates/landing_material.html
Due: eslint, prettier-check, jest

feat: comprehensive UI improvements and production CAPTCHA guide
  .playwright-mcp/registration-form-current.png
  .playwright-mcp/registration-form-filled.png
  CAPTCHA_SETUP_GUIDE.md
  UI_FIXES_PLAN.md
  static/css/material-design.css
  templates/landing_material.html
Due: prettier-check

fix: remove pricing language for open-source project
  UI_FIXES_PLAN.md
  templates/landing_material.html
Due: none

fix: smooth field label backgrounds in forms
  UI_FIXES_PLAN.md
  static/css/material-design.css
Due: prettier-check

fix: improve UI consistency and development experience
  UI_FIXES_PLAN.md
  static/js/landing-material.js
  static/style.css
  templates/landing.html
Due: eslint, prettier-check, jest

feat: implement reCAPTCHA v3 with environment-based activation
  .playwright-mcp/landing-before-rebuild.png
  .playwright-mcp/registration-form-final-test.png
  static/js/landing-material.js
  static/style.css
  templates/landing.html
Due: eslint, prettier-check, jest

fix: remove enterprise security claims from Material Design landing page
  templates/landing_material.html
Due: none

cleanup: remove unused landing.html template
  templates/landing.html
Due: none

fix: align navigation menu Sign In button with other items
  UI_FIXES_PLAN.md
  static/css/landing-material.css
Due: prettier-check

fix: prevent field descriptions from being selectable
  UI_FIXES_PLAN.md
  static/css/material-design.css
Due: prettier-check

fix: completely eliminate double blue selection in field descriptions
  static/css/material-design.css
  templates/landing_material.html
Due: prettier-check

fix: resolve Docker health check and add version watermark
  .playwright-mcp/field-descriptions-no-double-blue.png
  .playwright-mcp/final-test-with-login-modal.png
  .playwright-mcp/landing-page-navigation.png
  .playwright-mcp/navigation-alignment-fixed.png
  .playwright-mcp/navigation-current-state.png
  .playwright-mcp/navigation-menu-final-verification.png
  .playwright-mcp/production-field-descriptions-current-state.png
  .playwright-mcp/production-field-descriptions.png
  .playwright-mcp/production-navigation-alignment.png
  docker-compose.yml
  templates/landing_material.html
Due: no-secrets

fix: add cache-busting parameters to CSS files
  templates/landing_material.html
Due: none

fix: improve form field spacing and add forgot password link
  .gitignore
  .playwright-mcp/cleaned-website-final.png
  .playwright-mcp/current-homepage.png
  .playwright-mcp/current-material-design.png
  .playwright-mcp/dashboard-profile-test.png
  .playwright-mcp/field-descriptions-no-double-blue.png
  .playwright-mcp/final-material-design-complete.png
  .playwright-mcp/final-test-with-login-modal.png
  .playwright-mcp/landing-before-rebuild.png
  .playwright-mcp/landing-page-navigation.png
  .playwright-mcp/material-design-final.png
  .playwright-mcp/material-design-landing.png
  .playwright-mcp/material-design-mobile.png
  .playwright-mcp/navigation-alignment-fixed.png
  .playwright-mcp/navigation-current-state.png
  .playwright-mcp/navigation-menu-final-verification.png
  .playwright-mcp/production-field-descriptions-current-state.png
  .playwright-mcp/production-field-descriptions.png
  .playwright-mcp/production-navigation-alignment.png
  .playwright-mcp/profile-modal-success.png
  .playwright-mcp/registration-form-current.png
  .playwright-mcp/registration-form-filled.png
  .playwright-mcp/registration-form-final-test.png
  .playwright-mcp/traces/image.png
  static/css/material-design.css
  templates/landing_material.html
Due: prettier-check

chore: update version watermark to v2.2.0
  templates/landing_material.html
Due: none

fix: improve field helper text positioning
  static/css/material-design.css
Due: prettier-check

feat: implement complete password reset functionality and fix modal issues
  static/js/landing-material.js
  templates/landing_material.html
Due: eslint, prettier-check, jest

feat: complete reference analysis and PRP documentation for Playwright E2E testing
  .env.example
  .playwright-mcp/image.png
  .playwright-mcp/traces/image.png
  CLAUDE.md
  NEXT_FOCUS_PLAYWRIGHT_TESTING.md
  docs/prps/comprehensive-playwright-e2e-testing.md
  docs/tasks/comprehensive-playwright-e2e-testing.md
  src/cardinal_vote/email_service.py
  src/cardinal_vote/main.py
  static/js/landing-material.js
  templates/landing_material.html
Due: ruff-check, ruff-format-check, mypy-check, eslint, prettier-check, jest, no-secrets

feat: create enhanced Playwright configuration with comprehensive testing support
  playwright.config.js
  tests/playwright/config/global-setup.js
  tests/playwright/config/global-teardown.js
Due: eslint, prettier-check, jest

feat: create comprehensive Docker test environment for Playwright E2E testing
  docker-compose.playwright.yml
  tests/playwright/Dockerfile.playwright
  tests/playwright/config/prometheus.yml
  tests/playwright/fixtures/sql/init-test-db.sql
  tests/playwright/fixtures/sql/seed-test-data.sql
  tests/playwright/package.json
Due: no-secrets

feat: create comprehensive Playwright test directory structure and documentation
  tests/playwright/README.md
  tests/playwright/helpers/.gitkeep
  tests/playwright/reports/html/.gitkeep
  tests/playwright/reports/json/.gitkeep
  tests/playwright/reports/junit/.gitkeep
  tests/playwright/screenshots/.gitkeep
  tests/playwright/specs/accessibility/.gitkeep
  tests/playwright/specs/advanced/.gitkeep
  tests/playwright/specs/core/.gitkeep
  tests/playwright/specs/error/.gitkeep
  tests/playwright/specs/mobile/.gitkeep
  tests/playwright/specs/performance/.gitkeep
  tests/playwright/specs/smoke/.gitkeep
  tests/playwright/traces/.gitkeep
  tests/playwright/utils/.gitkeep
  tests/playwright/videos/.gitkeep
Due: none

feat: create enhanced authentication setup with comprehensive state persistence
  tests/playwright/auth.enhanced-setup.js
  tests/playwright/helpers/auth-helper.js
Due: eslint, prettier-check, jest

feat: create comprehensive test data factories and fixtures
  tests/playwright/fixtures/data/material-design-fixtures.js
  tests/playwright/fixtures/data/performance-accessibility-fixtures.js
  tests/playwright/fixtures/data/test-data-factory.js
  tests/playwright/package.json
Due: eslint, prettier-check, jest, no-secrets

feat: add comprehensive enhanced page object models
  tests/playwright/fixtures/sql/init-test-db.sql
  tests/playwright/fixtures/sql/seed-test-data.sql
  tests/playwright/pages/base-page.js
  tests/playwright/pages/dashboard-page.enhanced.js
  tests/playwright/pages/landing-page.enhanced.js
  tests/playwright/pages/public-voting-page.enhanced.js
  tests/playwright/pages/vote-creation-page.enhanced.js
Due: eslint, prettier-check, jest

feat: add comprehensive admin and error page object models
  tests/playwright/pages/admin-page.enhanced.js
  tests/playwright/pages/error-page.enhanced.js
Due: eslint, prettier-check, jest

feat: implement comprehensive Phase 1 core flow tests
  tests/playwright/tests/01-core-flows/authentication.spec.js
  tests/playwright/tests/01-core-flows/public-voting.spec.js
  tests/playwright/tests/01-core-flows/vote-creation.spec.js
Due: eslint, prettier-check, jest

feat: implement comprehensive Phase 2 advanced scenario tests
  tests/playwright/tests/02-advanced-scenarios/form-validation.spec.js
  tests/playwright/tests/02-advanced-scenarios/modal-interactions.spec.js
  tests/playwright/tests/02-advanced-scenarios/responsive-design.spec.js
Due: eslint, prettier-check, jest
