Repository vlebourl/cardinal-vote: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-naming, no-secrets, logo-format

test-naming:
  name: Check test file naming
  entry: bash -c 'for file in tests/*.py; do [[ "$file" == "tests/__init__.py" ]] && continue; [[ "$file" =~ ^tests/test_.*\.py$ ]] || { echo "Test file $file should start with test_"; exit 1; }; done'
  language: system

no-secrets:
  name: Check for potential secrets
  entry: bash -c 'if grep -r -i -E "(password|secret|key|token)\s*=\s*[\"'\'''][^\"'\'''\$]+[\"'\'']" src/ tests/ --exclude-dir=.git; then echo "Potential hardcoded secrets found!"; exit 1; fi'
  language: system

logo-format:
  name: Check logo file format
  entry: bash -c 'shopt -s nullglob; for logo in logos/*.png; do [[ "$logo" =~ ^logos/toveco[0-9]+\.png$ ]] || { echo "Logo $logo should follow toveco{number}.png format"; exit 1; }; done'
  language: system

feat: streamline CI pipeline for generalized platform only
  .github/workflows/ci.yml
  pyproject.toml
  src/toveco_voting/dependencies.py
  uv.lock
Due: no-secrets

fix: resolve pipeline failures - CITEXT extension and linting
  alembic/versions/b9061c1f6adb_initial_generalized_platform_schema.py
  src/toveco_voting/auth_routes.py
  src/toveco_voting/config.py
  src/toveco_voting/dependencies.py
  src/toveco_voting/email_service.py
Due: no-secrets

fix: add PostgreSQL RLS functions to migration for CI environment
  alembic/versions/b9061c1f6adb_initial_generalized_platform_schema.py
  src/toveco_voting/email_service.py
Due: no-secrets

fix: resolve MyPy type checking errors (partial)
  src/toveco_voting/admin_manager.py
  src/toveco_voting/admin_routes.py
  src/toveco_voting/admin_routes_simple.py
  src/toveco_voting/auth_manager.py
  src/toveco_voting/database_manager.py
  src/toveco_voting/session_manager.py
Due: no-secrets

fix: add SQLAlchemy relationship type annotations
  src/toveco_voting/models.py
Due: no-secrets

fix: resolve all MyPy type checking errors and add missing type stubs
  src/toveco_voting/auth_manager.py
  src/toveco_voting/auth_routes.py
  src/toveco_voting/main.py
  src/toveco_voting/models.py
  src/toveco_voting/session_manager.py
Due: no-secrets

fix: resolve bandit security warning in database_manager.py
  src/toveco_voting/database_manager.py
  tests/README.md
  tests/__init__.py
  tests/conftest.py
  tests/test_api.py
  tests/test_comprehensive_api.py
  tests/test_database_integrity.py
  tests/test_docker_deployment.py
  tests/test_end_to_end_workflow.py
  tests/test_fixtures.py
  tests/test_frontend_integration.py
  tests/test_main.py
  tests/test_manual_frontend.py
  tests/test_performance_load.py
  tests/test_runner.py
Due: test-naming, no-secrets

fix: remove type ignore comments after installing type stubs
  src/toveco_voting/auth_manager.py
Due: no-secrets

feat: Phase 1 Week 2 - Basic Vote Creation (#18)
  src/toveco_voting/main.py
  src/toveco_voting/vote_routes.py
Due: no-secrets

docs: add comprehensive PRP and task breakdown for toveco to cardinal_vote rename
  docs/brainstorming/2025-09-08-toveco-to-cardinal-vote-rename.md
  docs/prps/cardinal-vote-rename.md
  docs/tasks/cardinal-vote-rename.md
Due: none

chore: complete systematic rename from toveco to cardinal_vote
  .pre-commit-config.yaml
  alembic/env.py
  alembic/versions/b9061c1f6adb_initial_generalized_platform_schema.py
  pyproject.toml
  src/cardinal_vote/auth_manager.py
  src/cardinal_vote/config.py
  src/cardinal_vote/email_service.py
  uv.lock
Due: no-secrets

chore: apply cardinal_vote rename to generalized platform branch
  .pre-commit-config.yaml
  alembic/env.py
  logos/cardinal_vote1.png
  logos/cardinal_vote10.png
  logos/cardinal_vote11.png
  logos/cardinal_vote2.png
  logos/cardinal_vote3.png
  logos/cardinal_vote4.png
  logos/cardinal_vote5.png
  logos/cardinal_vote6.png
  logos/cardinal_vote7.png
  logos/cardinal_vote8.png
  logos/cardinal_vote9.png
  pyproject.toml
  src/cardinal_vote/__init__.py
  src/cardinal_vote/admin_auth.py
  src/cardinal_vote/admin_manager.py
  src/cardinal_vote/admin_middleware.py
  src/cardinal_vote/admin_routes.py
  src/cardinal_vote/admin_routes_simple.py
  src/cardinal_vote/auth_manager.py
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/config.py
  src/cardinal_vote/database.py
  src/cardinal_vote/database_manager.py
  src/cardinal_vote/dependencies.py
  src/cardinal_vote/email_service.py
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/session_manager.py
  src/cardinal_vote/vote_routes.py
Due: no-secrets, logo-format

feat: Complete Phase 1 Week 3-4 generalized voting platform implementation
  alembic/versions/3f871632aa93_add_user_id_to_voter_responses.py
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/vote_routes.py
  static/legacy_app.js
  static/public_vote.css
  static/public_vote.js
  templates/legacy_index.html
  templates/public_vote.html
Due: no-secrets

fix: resolve CI failures for PR #24
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.override.yml.example
  docs/prps/generalized-voting-platform.md
  src/cardinal_vote/vote_routes.py
Due: no-secrets

fix: make Dockerfile .pth file path fixing more robust
  Dockerfile
Due: none

feat: Complete Phase 1 Week 3-4 generalized voting platform implementation (#24)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  Dockerfile
  alembic/versions/3f871632aa93_add_user_id_to_voter_responses.py
  alembic/versions/b9061c1f6adb_initial_generalized_platform_schema.py
  docker-compose.override.yml.example
  docs/prps/generalized-voting-platform.md
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/vote_routes.py
  static/legacy_app.js
  static/public_vote.css
  static/public_vote.js
  templates/legacy_index.html
  templates/public_vote.html
  uv.lock
Due: no-secrets

Revert "feat: Complete Phase 1 Week 3-4 generalized voting platform implementation (#24)"
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  Dockerfile
  alembic/versions/3f871632aa93_add_user_id_to_voter_responses.py
  alembic/versions/b9061c1f6adb_initial_generalized_platform_schema.py
  docker-compose.override.yml.example
  docs/prps/generalized-voting-platform.md
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/vote_routes.py
  static/app.js
  static/public_vote.css
  static/public_vote.js
  templates/index.html
  templates/public_vote.html
  uv.lock
Due: no-secrets

feat: Complete Phase 1 Week 3-4 generalized voting platform implementation (#24)
  Dockerfile
  alembic/versions/3f871632aa93_add_user_id_to_voter_responses.py
  docker-compose.override.yml.example
  docs/prps/generalized-voting-platform.md
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/vote_routes.py
  static/legacy_app.js
  static/public_vote.css
  static/public_vote.js
  templates/legacy_index.html
  templates/public_vote.html
Due: no-secrets

Complete toveco to cardinal-vote renaming cleanup
  .github/workflows/ci.yml
  .github/workflows/release.yml
  API.md
  API_DOCUMENTATION.md
  CLAUDE.md
  DEPLOYMENT-TAR.md
  DEPLOYMENT.md
  DEVELOPMENT.md
  PRP-Generalized-Platform.md
  PRP.md
  README.md
  REVISED-TIMELINE-VERTICAL-SLICES.md
  TEST_SUITE_SUMMARY.md
  WORKFLOW-GENERALIZED.md
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.standalone.yml
  docker-compose.yml
  docs/audit/affected-files.txt
  docs/brainstorming/2025-01-07-generalized-platform-planning.md
  docs/brainstorming/2025-09-08-toveco-to-cardinal-vote-rename.md
  docs/prps/cardinal-vote-rename.md
  docs/prps/generalized-voting-platform.md
  docs/tasks/cardinal-vote-rename.md
  pyproject.toml
  static/css/admin.css
  static/js/admin.js
  static/legacy_app.js
  static/style.css
  templates/admin/logos.html
  uv.lock
Due: no-secrets

Fix remaining toveco references in deployment files
  .env.example
  Dockerfile
  deploy-from-tar.sh
  deploy-server.sh
  docker-compose.override.yml.example
  docker-entrypoint.sh
  scripts/deploy.sh
  scripts/manage.sh
Due: none

Complete toveco to cardinal-vote renaming cleanup (#25)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/release.yml
  API.md
  API_DOCUMENTATION.md
  CLAUDE.md
  DEPLOYMENT-TAR.md
  DEPLOYMENT.md
  DEVELOPMENT.md
  Dockerfile
  PRP-Generalized-Platform.md
  PRP.md
  README.md
  REVISED-TIMELINE-VERTICAL-SLICES.md
  TEST_SUITE_SUMMARY.md
  WORKFLOW-GENERALIZED.md
  deploy-from-tar.sh
  deploy-server.sh
  docker-compose.override.yml.example
  docker-compose.prod.yml
  docker-compose.production.yml
  docker-compose.standalone.yml
  docker-compose.yml
  docker-entrypoint.sh
  docs/audit/affected-files.txt
  docs/brainstorming/2025-01-07-generalized-platform-planning.md
  docs/brainstorming/2025-09-08-toveco-to-cardinal-vote-rename.md
  docs/prps/cardinal-vote-rename.md
  docs/prps/generalized-voting-platform.md
  docs/tasks/cardinal-vote-rename.md
  pyproject.toml
  scripts/deploy.sh
  scripts/manage.sh
  static/css/admin.css
  static/js/admin.js
  static/legacy_app.js
  static/style.css
  templates/admin/logos.html
  uv.lock
Due: no-secrets

feat: implement Phase 1 Week 5 - email verification and authentication frontend
  src/cardinal_vote/auth_manager.py
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/main.py
  static/auth.css
  static/auth_login.js
  static/auth_register.js
  static/dashboard.css
  static/dashboard.js
  templates/auth_login.html
  templates/auth_register.html
  templates/dashboard.html
Due: no-secrets

feat: implement Phase 2 Week 6 super admin role and user management interface
  docs/prps/generalized-voting-platform.md
  src/cardinal_vote/main.py
  src/cardinal_vote/super_admin_manager.py
  src/cardinal_vote/super_admin_routes.py
  static/css/super-admin.css
  static/js/super-admin.js
  templates/super_admin/base.html
  templates/super_admin/dashboard.html
Due: no-secrets

fix: resolve mypy type errors in super admin modules
  src/cardinal_vote/super_admin_manager.py
  src/cardinal_vote/super_admin_routes.py
Due: no-secrets

feat: address comprehensive code review findings for super admin system
  src/cardinal_vote/super_admin_manager.py
  src/cardinal_vote/super_admin_routes.py
  tests/test_super_admin_auth.py
  tests/test_super_admin_integration.py
  tests/test_super_admin_manager.py
  tests/test_super_admin_routes.py
Due: test-naming, no-secrets

refactor: address code review improvements for super admin implementation
  src/cardinal_vote/super_admin_manager.py
  src/cardinal_vote/super_admin_routes.py
Due: no-secrets

fix: add zero-division protection and configurable health thresholds
  src/cardinal_vote/super_admin_manager.py
  tests/test_super_admin_manager.py
Due: test-naming, no-secrets

fix: implement proper transaction management and bulk operation limits
  src/cardinal_vote/super_admin_manager.py
  tests/test_super_admin_manager.py
Due: test-naming, no-secrets

docs: complete Phase 2 Week 6 super admin implementation in PRP
  docs/prps/generalized-voting-platform.md
Due: none

feat: implement Phase 2 Week 6 super admin role and user management interface (#27)
  docs/prps/generalized-voting-platform.md
  src/cardinal_vote/auth_manager.py
  src/cardinal_vote/auth_routes.py
  src/cardinal_vote/main.py
  src/cardinal_vote/super_admin_manager.py
  src/cardinal_vote/super_admin_routes.py
  static/auth.css
  static/auth_login.js
  static/auth_register.js
  static/css/super-admin.css
  static/dashboard.css
  static/dashboard.js
  static/js/super-admin.js
  templates/auth_login.html
  templates/auth_register.html
  templates/dashboard.html
  templates/super_admin/base.html
  templates/super_admin/dashboard.html
  tests/test_super_admin_auth.py
  tests/test_super_admin_integration.py
  tests/test_super_admin_manager.py
  tests/test_super_admin_routes.py
Due: test-naming, no-secrets

feat: implement Phase 2 Week 7 content moderation and vote oversight tools
  alembic/versions/bff158c3e8a6_add_content_moderation_tables.py
  src/cardinal_vote/models.py
  src/cardinal_vote/super_admin_routes.py
  src/cardinal_vote/vote_moderation_manager.py
  templates/super_admin/moderation.html
Due: no-secrets

feat: complete Phase 2 Week 7 content moderation and vote oversight tools
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc
  CLAUDE.md
  alembic/versions/c97e220ce164_add_moderation_query_optimization_.py
  package-lock.json
  package.json
  src/cardinal_vote/main.py
  src/cardinal_vote/super_admin_routes.py
  src/cardinal_vote/vote_moderation_manager.py
  static/auth.css
  static/auth_login.js
  static/auth_register.js
  static/css/admin.css
  static/css/super-admin.css
  static/dashboard.css
  static/dashboard.js
  static/js/admin.js
  static/js/super-admin.js
  static/legacy_app.js
  static/public_vote.css
  static/public_vote.js
  static/style.css
  tests/test_vote_moderation_manager.py
  tests/test_vote_moderation_routes.py
Due: test-naming, no-secrets

fix: address code review feedback for Phase 2 Week 7 content moderation
  src/cardinal_vote/config.py
  src/cardinal_vote/super_admin_routes.py
  src/cardinal_vote/vote_moderation_manager.py
  tests/test_vote_moderation_manager.py
Due: test-naming, no-secrets

fix: comprehensive code review improvements for Phase 2 Week 7 moderation
  src/cardinal_vote/vote_moderation_manager.py
  tests/test_vote_moderation_integration.py
Due: test-naming, no-secrets

feat: Phase 2 Week 7 - Content Moderation and Vote Oversight Tools (#28)
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc
  CLAUDE.md
  alembic/versions/bff158c3e8a6_add_content_moderation_tables.py
  alembic/versions/c97e220ce164_add_moderation_query_optimization_.py
  package-lock.json
  package.json
  src/cardinal_vote/config.py
  src/cardinal_vote/main.py
  src/cardinal_vote/models.py
  src/cardinal_vote/super_admin_routes.py
  src/cardinal_vote/vote_moderation_manager.py
  static/auth.css
  static/auth_login.js
  static/auth_register.js
  static/css/admin.css
  static/css/super-admin.css
  static/dashboard.css
  static/dashboard.js
  static/js/admin.js
  static/js/super-admin.js
  static/legacy_app.js
  static/public_vote.css
  static/public_vote.js
  static/style.css
  templates/super_admin/moderation.html
  tests/test_vote_moderation_integration.py
  tests/test_vote_moderation_manager.py
  tests/test_vote_moderation_routes.py
Due: test-naming, no-secrets

Path conditions:
  test-naming: any of: ^tests/.*\.py$, but not: ^tests/__init__\.py$
  no-secrets: any of: \.(py|yaml|yml|json|toml)$
  logo-format: any of: ^logos/.*\.png$
