Repository vlebourl/cardinal-vote: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-naming, no-secrets, logo-format

test-naming:
  name: Check test file naming
  entry: bash -c 'for file in tests/*.py; do [[ "$file" == "tests/__init__.py" ]] && continue; [[ "$file" =~ ^tests/test_.*\.py$ ]] || { echo "Test file $file should start with test_"; exit 1; }; done'
  language: system

no-secrets:
  name: Check for potential secrets
  entry: bash -c 'if grep -r -i -E "(password|secret|key|token)\s*=\s*[\"'\'''][^\"'\'''\$]+[\"'\'']" src/ tests/ --exclude-dir=.git; then echo "Potential hardcoded secrets found!"; exit 1; fi'
  language: system

logo-format:
  name: Check logo file format
  entry: bash -c 'shopt -s nullglob; for logo in logos/*.png; do [[ "$logo" =~ ^logos/toveco[0-9]+\.png$ ]] || { echo "Logo $logo should follow toveco{number}.png format"; exit 1; }; done'
  language: system

Fix CI pipeline failures
  Dockerfile
Due: none

Fix ruff version mismatch between pre-commit and CI
  .pre-commit-config.yaml
  tests/test_main.py
Due: test-naming, no-secrets

Auto-format code with ruff to match CI formatting requirements
  src/toveco_voting/admin_manager.py
  src/toveco_voting/admin_middleware.py
  test_vote_details_fix.py
  tests/test_comprehensive_api.py
  tests/test_docker_deployment.py
  tests/test_end_to_end_workflow.py
  tests/test_performance_load.py
Due: test-naming, no-secrets

Implement strict code quality with zero tolerance policy
  .pre-commit-config.yaml
  CLAUDE.md
  DEPLOYMENT.md
  PRP.md
  TEST_SUITE_SUMMARY.md
  mypy.ini
  pyproject.toml
  src/toveco_voting/admin_auth.py
  src/toveco_voting/admin_manager.py
  src/toveco_voting/admin_middleware.py
  src/toveco_voting/admin_routes.py
  src/toveco_voting/admin_routes_simple.py
  src/toveco_voting/database.py
  src/toveco_voting/main.py
  src/toveco_voting/models.py
  tests/README.md
  uv.lock
Due: no-secrets

Fix CI pipeline failures and improve test coverage setup
  .github/workflows/ci.yml
  pyproject.toml
  src/toveco_voting/admin_routes_simple.py
  uv.lock
Due: no-secrets

Fix all test failures and ensure complete CI pipeline success
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/toveco_voting/database.py
  tests/conftest.py
  tests/test_api.py
  tests/test_comprehensive_api.py
  tests/test_database_integrity.py
  tests/test_end_to_end_workflow.py
  tests/test_main.py
  tests/test_performance_load.py
  tests/test_runner.py
  uv.lock
Due: test-naming, no-secrets

Major integration test fixes - API schema and database isolation
  src/toveco_voting/config.py
  src/toveco_voting/database.py
  src/toveco_voting/main.py
  tests/test_comprehensive_api.py
  tests/test_end_to_end_workflow.py
  tests/test_fixtures.py
  tests/test_frontend_integration.py
  tests/test_performance_load.py
Due: test-naming, no-secrets

Add frontend testing strategy PRP and fix frontend element references
  docs/PRP-001-Frontend-Testing-Strategy.md
  tests/test_frontend_integration.py
Due: test-naming, no-secrets

Fix remaining integration test failures and database isolation
  tests/test_database_integrity.py
  tests/test_frontend_integration.py
Due: test-naming, no-secrets

Fix mobile responsiveness test by adding proper wait for JavaScript initialization
  tests/test_frontend_integration.py
Due: test-naming, no-secrets

docs: enforce zero-exception policy for GitHub Flow (#7)
  CLAUDE.md
Due: none

chore: bump version to 1.2.0
  pyproject.toml
Due: no-secrets

chore: bump version to 1.2.0 (#9)
  pyproject.toml
Due: no-secrets

fix: correct virtual environment path in Docker build
  Dockerfile
Due: none

fix: improve frontend test timing with WebDriverWait
  tests/test_frontend_integration.py
Due: test-naming, no-secrets

fix: use visibility_of_element_located for better error message detection
  tests/test_frontend_integration.py
Due: test-naming, no-secrets

fix: improve frontend test reliability with WebDriverWait (#11)
  Dockerfile
  tests/test_frontend_integration.py
Due: test-naming, no-secrets

chore: bump version to 1.2.1 - Docker hotfix release
  pyproject.toml
Due: no-secrets

chore: bump version to 1.2.1 - Docker hotfix release (#12)
  pyproject.toml
Due: no-secrets

fix: ensure dependencies are installed in correct virtual environment
  Dockerfile
Due: none

fix: comprehensive Docker container fixes for reliable startup
  Dockerfile
  docker-entrypoint.sh
Due: none

fix: enhance Docker build test to catch container startup failures
  .github/workflows/ci.yml
Due: no-secrets

fix: resolve uvicorn execution error in Docker container
  Dockerfile
Due: none

hotfix: fix Docker dependency installation in virtual environment (#13)
  .github/workflows/ci.yml
  Dockerfile
  docker-entrypoint.sh
Due: no-secrets

chore: bump version to 1.2.2
  pyproject.toml
Due: no-secrets

chore: bump version to 1.2.2 (#14)
  pyproject.toml
Due: no-secrets

docs: remove PRP-001 frontend testing strategy document
  docs/PRP-001-Frontend-Testing-Strategy.md
Due: none

docs: add comprehensive PRP for generalized voting platform transformation
  PRP-Generalized-Platform.md
Due: none

docs: add comprehensive PRP for generalized voting platform transformation (#15)
  PRP-Generalized-Platform.md
Due: none

feat: establish structured workflow for generalized platform development
  .github/BRANCH_PROTECTION.md
  WORKFLOW-GENERALIZED.md
Due: none

docs: update CLAUDE.md with generalized platform workflow instructions
  CLAUDE.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: no-secrets

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: no-secrets

Add claude GitHub actions 1757239809431 (#16)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: no-secrets

docs: add comprehensive revised timeline with vertical slice approach
  REVISED-TIMELINE-VERTICAL-SLICES.md
  docs/brainstorming/2025-01-07-generalized-platform-planning.md
  docs/templates/brainstorming_session_template.md
  docs/templates/prp_document_template.md
  docs/templates/technical-task-template.md
Due: none

feat: implement Phase 1 Week 1 generalized platform infrastructure
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/8d1480278da2_add_row_level_security_policies.py
  alembic/versions/b9061c1f6adb_initial_generalized_platform_schema.py
  docker-compose.yml
  docs/prps/generalized-voting-platform.md
  pyproject.toml
  scripts/init_db.sql
  src/toveco_voting/auth_manager.py
  src/toveco_voting/auth_routes.py
  src/toveco_voting/config.py
  src/toveco_voting/database_manager.py
  src/toveco_voting/dependencies.py
  src/toveco_voting/email_service.py
  src/toveco_voting/models.py
  src/toveco_voting/session_manager.py
  uv.lock
Due: no-secrets

Path conditions:
  test-naming: any of: ^tests/.*\.py$, but not: ^tests/__init__\.py$
  no-secrets: any of: \.(py|yaml|yml|json|toml)$
  logo-format: any of: ^logos/.*\.png$
